@* @{
  Layout = "_Layout";
}

@using SweetAndSavoryTreats.Models;

<div class="jumbotron">
  <h1>Dr. Bubbie's SweetAndSavoryTreats</h1>
</div>
<div class="row index-list-all">
  <div class="col-6 border-right border-dark" id="index-list-Flavors">
    <h4>Flavors:</h4>
    @if (@Model.Count == 0)
      {
        <h3>No Flavors have been added yet!</h3>
      } 
    <ul>
      @foreach(Flavor Flavor in Model)
      {
        <li>@Html.ActionLink($"{Flavor.FlavorName}", "Details", "Flavors", new { id = Flavor.FlavorId })</li>
      }
    </ul>
  </div>
  <div class="col-6 border-left border-dark" id="index-list-Treats">
    <h4>Treats:</h4>
    @if (@Model.Count == 0)
      {
        <h3>No Treats have been added yet!</h3>
      } 
    <ul>
      @foreach(Treat Treat in ViewBag.Treat)
      {
        <li>@Html.ActionLink($"{Treat.TreatName}", "Details", "Treats",new { id = Treat.TreatId })</li>
      }
    </ul>
    <p>@Html.ActionLink("Create an account", "Index", "Accounts")</p>
  </div>
</div> *@